.counter {
  display: flex;
  align-items: center;
}

.counter-badge {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 4px;
  margin-right: 8px;
  width: 50px;
}

.counter-label {
  max-width: 110px;
}
