.cases-list {
  height: 100%;
  overflow-y: scroll;
  padding: 20px 30px;
}

@media (max-width: 767px) {
  .cases-list {
    height: 40%;
  }
}

.counter,
.cases-update {
  margin-bottom: 20px;
}

.counter h3 {
  font-size: 20px;
  font-weight: normal;
  display: flex;
}

.list {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
}

.list > .list-item:nth-child(odd) {
  background-color: #eaeaea;
}

.list-item {
  padding: 15px;
}

.list .list-item:hover {
  background-color: rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.count-badge {
  background: rgba(237, 28, 36, 0.85);
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 4px 8px;
}

.counter .count-badge {
  margin-right: 8px;
}
