@import '../../styles/_colors.scss';

.buttons-container {
  position: fixed;
  z-index: 500;
  bottom: 25px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container > * {
  margin-right: 10px;
}

.buttons-container .btn {
  background-color: $primary;
  border-color: $primary;
  padding: 4px 10px;
  font-size: 14px;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    background-color: $primary !important;
    border-color: $primary !important;
    outline: none !important;
  }

  &:focus {
    box-shadow: 0 0 0.1rem 0.2rem rgba($primary, 0.5) !important;
  }
}

.buttons-container .btn:last-child {
  margin-right: 0;
}

.modal-dialog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 61px);
}

.contact-mail,
.repo-link {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .buttons-container {
    position: fixed;
    z-index: 500;
    bottom: 10px;
    right: 10px;
  }

  .buttons-container .btn {
    padding: 4px 8px;
    margin-right: 10px;
    font-size: 13px;
  }
}
