@import '../../styles/_colors.scss';

.buttons-container {
  position: fixed;
  z-index: 500;
  bottom: 25px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
}

.buttons-container .btn {
  background-color: $primary;
  border-color: $primary;
  padding: 4px 10px;
  font-size: 14px;
}

.buttons-container .btn:hover,
.buttons-container .btn:focus {
  background-color: $primary;
  border-color: $primary;
  outline: none;
}

.buttons-container .btn:last-child {
  margin-right: 0;
}

.modal-dialog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 61px);
}

.contact-mail,
.repo-link {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .buttons-container {
    position: fixed;
    z-index: 500;
    bottom: 10px;
    right: 10px;
  }

  .buttons-container .btn {
    padding: 4px 8px;
    margin-right: 10px;
    font-size: 13px;
  }
}
