@import url('~react-leaflet-markercluster/dist/styles.min.css');

.cases-map {
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  .cases-map {
    height: 60%;
  }
}
