@import url('~react-leaflet-markercluster/dist/styles.min.css');

.cases-map {
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  .cases-map {
    height: 60%;
  }
}

.county-info-popup {
  font-family: 'Muli', sans-serif;
}

.county-info-popup h4 {
  font-size: 18px;
  letter-spacing: 0.75px;
  font-weight: 600;
  color: rgb(237, 28, 36);
}

.county-info-popup p {
  font-size: 13px;
  color: grey;
  margin: 10px 0;
}

.popup-confirmed-cases {
  color: rgb(237, 28, 36);
}
