.app-bar {
  background-color: rgb(237, 28, 36);
  font-size: 24px;
  color: #fff;
  padding: 10px 15px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.35);
}

.app-bar a {
  color: #fff;
}

.app-bar a:hover {
  text-decoration: none;
}

.app-bar a:active,
.app-bar a:focus {
  outline: none;
}

.logo-container h3 {
  letter-spacing: 0.045em;
  text-shadow: 1px 2px 2px #000;
}
