@import 'styles/_colors.scss';

.content {
  height: calc(100vh - 61px);
}

.circle-marker {
  background: $primary-light;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  box-shadow: 4px 4px 3px grey;
  -moz-box-shadow: 4px 4px 3px grey;
  -webkit-box-shadow: 4px 4px 3px grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  font-weight: normal;
}
